$margin-top : 80px !default;
$margin-bottom : 40px !default;

$margin-top-sm : 40px !default;
$margin-bottom-sm : 20px !default;

$margin-top-md : 60px !default;
$margin-bottom-md : 40px !default;

$margin-top-lg : 80px !default;
$margin-bottom-lg : 40px !default;

