<div class="inner-banner inner-banner--about-us">
    <img src="assets/images/about-us-banner-bg.jpg" class="w-100 inner-banner__img" />
    <div class="inner-banner__content">
        <div class="container">
            <div class="inner-banner__title">Find Your Table For Any Occasion</div>
            <h1 class="inner-banner__heading">About Us</h1>
            <ul class="inner-banner__breadcum"> 
                <li class="inner-banner__breadcum-list"><a href="/">Home</a></li>
                <li class="inner-banner__breadcum-list"><a href="/about.html">About</a></li>
            </ul>
        </div>
    </div>

</div>
