<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer__title">
                    THANK YOU AND WELCOME BACK!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                &copy; 2020 Ramblin. <a href="#" class="mx-3">Privacy Policy</a> <a href="#">Terms of Use</a>
            </div>
        </div>
    </div>


</footer>