<header class="header header--fixed">
    <div class="clearfix"></div>
<div class="container header__container">
    <div class="header__logo">
        <a href="/" class="header__logo-link">
            <img src="assets/images/logo.png" class="header__logo-img" title="Company Logo" title="Ramblin Logo" />
        </a>
    </div>
    <a href="javascript:void(0)" class="nav-icon nav-icon__toggle" id="toggle-nav"> <i class='fa fa-bars'></i></a>
    <nav class="" id="nav">
        <ul class="main-menu">
            <li class="main-menu__list"><a href="/" class="main-menu__link">Home</a></li>
            <li class="main-menu__list"><a href="/about.html" class="main-menu__link">About </a></li>
            <li class="main-menu__list"><a href="/contact.html" class="main-menu__link">Contact </a></li>
            <li class="main-menu__list"><a href="/#" class="main-menu__link--btn">Enroll Now </a></li>
        </ul>
        <a href="javascript:void(0)" class="nav-icon nav-icon__close" id="close-nav"> <i class="fa fa-close"></i></a>
    </nav>

</div>
</header>

